.landing {
  background-image: image-url("bob-vila.jpg");
  height: 500px;
  position: relative;
  top: 70px;
}

.video-item {
  width: 230px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
}

.single-category {
  position: relative;
}

.header {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
  min-height: 70px;
  position: fixed;
  width: 100%;
  margin-top: -70px;
}

.header li {
  margin-top: auto;
  margin-bottom: auto;
  display: inline;
}

.logo {
  padding-left: 40px;
}

.browse {
  color: #e50914;
  font-weight: 700;
  margin-left: 100px;
}

.search {
  margin-left: 750px;
}

.profile {
  margin-left: 100px;
}

.category-index {
  position: absolute;
  margin-top: 450px;
  margin-left: 50px;
}

.temp-welcome {
  position: absolute;
  right: 20px;
  z-index: 1;
}

.category-index h1 {
  color: #e5e5e5;
  font-weight: 700;
}

.landing-background {
}
