body {
  background: #141414;
}

.landing {
  background-image: image-url("bob-vila.jpg");
  height: 90vh;
  position: relative;
  top: 70px;
  background-size: cover;
}

.video-item {
  width: 230px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-bottom: 10px;
  z-index: 1;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.video-item:hover{

}

.single-category {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
  min-height: 70px;
  position: fixed;
  width: 100%;
  margin-top: -70px;
  z-index: 2;
}

.header li {
  margin-top: auto;
  margin-bottom: auto;
  display: inline;
}

.logo {
  padding-left: 40px;
}

.browse {
  color: #e50914;
  font-weight: 700;
}

.category-index {
  position: absolute;
  margin-top: 82vh;
  margin-left: 50px;
}

.temp-welcome {
  position: absolute;
  right: 20px;
  z-index: 1;
}

.category-index h1 {
  color: #e5e5e5;
  font-weight: 700;
}

.header-left li, .header-right li {
  padding: 25px;
}

.fa-thumbs-o-up {
  position: absolute;
  right: 50px;
  bottom: 60px;
  z-index: 1;
  cursor: pointer;
}

.fa-thumbs-o-down {
  position: absolute;
  right: 50px;
  bottom: 40px;
  z-index: 1;
  cursor: pointer;
}

.video-row {
  display: flex;
}

.video-item-container {
  position: relative;
}

.video-item-container:hover {
  transform: scale(1.3);
  transition-duration: 400ms;
  padding-left: 35px;
  padding-right: 34px;
}

.fa-thumbs-o-down:hover {
  color: #e50914;
}

.fa-thumbs-o-up:hover {
  color: #e5e5e5;
}
