.video-item {
  height: 100px;
  width: 75px;
}

.single-category {
  position: relative;
}

.video-item {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.header {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
  min-height: 70px;
  position: fixed;
  width: 100%;
}

.header li {
  margin-top: auto;
  margin-bottom: auto;
  display: inline;
}

.logo {
  padding-left: 40px;
}

.browse {
  color: #e50914;
  font-weight: 700;
  margin-left: 200px;
}

.search {
  margin-left: 600px;
}

.profile {
  margin-left: 150px;
}
