.category-show-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
  display: inline-table;
  position: absolute;
  left: 9%;
}


.show {
  margin: 6em 4%;
  display: flex;
  min-height: 50em;
}

.video-row-show {
  margin-top: 100px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  max-width: 96%;
  left: 9%;
}

.video-show {
  margin-bottom: 25px;
  max-height: 9.83em;
}

.dropdown-container-show {
  position: fixed;
  margin-top: 5em;
  z-index: 1;
}
