.category-show-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
  display: inline-table;
  position: absolute;
}


.show {
  margin: 6em 4%;
  display: flex;
}

.video-row-show {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  max-width: 96%;
}

.video-show{
  margin-bottom: 10px;
}
