.category-show-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
}


.show {
  margin: 70px 4%;
  display: flex;
}

.video-row-show {
  display: flex;
  flex-wrap: wrap;
  max-width: 96%;
}
