.browse-list, .profile-list {
  display: none;
  position: absolute;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(0,0,0,0.7);
  left: 0px;
  top: 46px;
}

.browse {
  display: inline-block;
  position: relative;
}

.browse-list a, .profile-list button {
  display: block;
  position: relative;
  margin: 9px 20px;
}

.browse:hover {
  .browse-list {
    display: block;
    color: #fff;
  }
}

.profile {
  color: #e5e5e5;
  cursor: pointer;
  right: 40px;
  position: relative;
  padding-bottom: 25px;
}

.profile:hover {
  .profile-list {
    display: block;
    color: #fff;
    top: 45px;
  }
}

.profile-list {
  left: 0;
  top: 21px;
}

.no-vids {
  margin-top: 100px;
  position: absolute;
}

.no-vids-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
}

.no-vids-profile {
  padding-top: 3.3vh;
}

.no-vids-profile:hover {
  .no-vids-logout {
    display: block;
    color: #fff;
    left: 0;
    top: 6.5vh;
  }
}

.no-vids {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
  display: inline-table;
  position: absolute;
  right: 40vw;
}

.browse-item a {
  display: flex;
}

.browse-item p {
  margin-left: 8%;
  position: relative;
  bottom: 2px;
}

.browse-item p:hover {
  text-decoration: underline;
}
