.browse-list {
  display: none;
  position: absolute;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  background-color: rgba(0,0,0,0.7);
  left: 25px;
  top: 60px;
}

.browse {
  display: inline-block;
  position: relative;
}

.browse-list a {
  display: block;
  position: relative;
  margin: 2px 10px;
}

.browse:hover {
  .browse-list {
    display: block;
    color: #fff;
  }
}
