// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pre-login-background {
  background-image: image-url("prelogin.jpg");
  height: 100vh;
  background-size: cover;
}

.temp-logo {
  position: absolute;
  left: 40px;
  top: 22px;
  height: 30px;
  width: 100px;
}

.join-button, .sign-in-button {
  background-color: #e50914;
}

.sign-in-button {
  position: absolute;
  top: 12px;
  right: 15px;
  padding: 8px 2em;
  color: white;
  border-radius: 3px;

}

.join-button {
  padding: 12px 2em;
  color: white;
  border-radius: 3px;
  margin-top: 15px;
}

.join-info {
  position: absolute;
  top: 200px;
  left: 40px;
  text-shadow: 1px black;
  text-shadow: 1px 1px 2px grey;
}

.whats-next {
  font-size: 60px;
  color: white;
  text-shadow: 1px black;
  text-shadow: 1px 1px 2px grey;
}

.anytime {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px grey;
  text-shadow: 1px black;
}

.session-form-container {
  background-image: image-url("login-image.jpg");
  height: 100vh;
  background-size: cover;
}

.session-form {
  position: relative;
  margin: 0 auto;
  background-color: #f3f3f3;
  width: 400px;
  top: 90px;
  padding: 35px;
}

.form-title {
  font-size: 30px;
  margin-bottom: 10px;
}


.form-inputs input {
  box-sizing: border-box;
  border: solid 1px #b3b3b3;
  background-color: rgb(250, 255, 189);
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.form-submit, .demo{
  text-align: center;
  text-transform: capitalize;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #e50914;
  color: white;
  font-size: 20px;
}

.form-submit {
  margin-top: 70px;
}


.linker {
  color: blue;
  text-decoration: underline;
}

.form-inputs div {
  position: relative;
  top: 25px;
}
